@use 'mixins' as *;

@mixin flipInput($name, $to-background) {
  @include keyframes($name) {
    0% {
      @include transform(scaleY(1));
    }

    50% {
      @include transform(scaleY(0));
    }

    100% {
      @include transform(scaleY(1));
      background-color: $to-background;
      border-color: $to-background;
    }
  }
}

@mixin flipText($name, $to-text) {
  @include keyframes($name) {
    100% {
      color: $to-text;
    }
  }
}

@mixin jump() {
  @keyframes jump {
    0% {
      @include transform(translate3d(0, 0, 0));
    }

    50% {
      @include transform(translate3d(0, -75%, 0));
    }

    100% {
      @include transform(translate3d(0, 0, 0));
    }
  }
}
