@mixin flip($name, $to-color) {
  @keyframes #{$name} {
    0% { transform: scaleY(1); }

    50% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
      border-color: $to-color;
    }
  }
}

@include flip(flip-pass, green);
@include flip(flip-shuffle, yellow);
@include flip(flip-fail, #a1a1a1);
