@use 'utils/main' as *;

// note: $flipDuration and $jumpDuration are set in ./src/settings.js

.hopkins-hurdle {
  .guess {

    div {
      background-color: var(--input-bg);
      border: 4px var(--input-border) solid;
      display: inline-block;
      height: var(--input-size);
      margin: calc(var(--input-size) * 0.06);
      width: var(--input-size);

      input {
        background-color: transparent;
        border: none;
        color: var(--input-text);
        caret-color: transparent;
        font-size: 20px;
        height: calc(var(--input-size) - 2px);
        text-align: center;
        outline: none;
        width: calc(var(--input-size) - 2px);

        &.space {
          height: 22px;
          width: 5px;
          opacity: 0; // screen readers will be able to read this
        }
      }

      &:has(input:focus) {
        background-color: var(--input-bg-focus);
        border: 4px var(--input-border-focus) solid;
        input {
          color: var(--input-text-focus);
        }
      }

      &:not(.animate) {
        &.pass {
          background-color: var(--correct-spot-bg);
          border-color: var(--correct-spot-bg);
          input {
            color: var(--correct-spot-text);
          }
        }

        &.fail {
          background-color: var(--wrong-bg);
          border-color: var(--wrong-bg);
          input {
            color: var(--wrong-text);
          }
        }

        &.shuffle {
          background-color: var(--wrong-spot-bg);
          border-color: var(--wrong-spot-bg);
        }
      }

      &.animate.flip {
        &.pass {
          @include flipInput(flip-pass, var(--correct-spot-bg));
          animation: flip-pass #{$flipDuration}ms ease forwards;

          input {
            @include flipText(flip-text-pass, var(--correct-spot-text));
            animation: flip-text-pass #{$flipDuration}ms ease forwards;
          }
        }

        &.shuffle {
          @include flipInput(flip-shuffle, var(--wrong-spot-bg));
          animation: flip-shuffle #{$flipDuration}ms ease forwards;

          input {
            @include flipText(flip-text-shuffle, var(--wrong-spot-text));
            animation: flip-text-shuffle #{$flipDuration}ms ease forwards;
          }
        }

        &.fail {
          @include flipInput(flip-fail, var(--wrong-bg));
          animation: flip-fail #{$flipDuration}ms ease forwards;

          input {
            @include flipText(flip-text-fail, var(--wrong-text));
            animation: flip-text-fail #{$flipDuration}ms ease forwards;
          }
        }
      }

      &.animate.jump {
        @include jump();
        animation: flip-pass #{$flipDuration}ms ease forwards, jump #{$jumpDuration}ms ease forwards;
        input {
          animation: flip-text-pass #{$flipDuration}ms ease forwards;
        }
      }
    }
  }
}
