@use 'utils/main' as *;

.hopkins-hurdle {
  .guess {
    button {
      background-color: var(--submit-bg);
      border: 4px var(--submit-border) solid;
      color: var(--submit-text);
      font-size: 20px;
      height: 40px;
      margin: 2px;
      text-align: center;
      text-transform: uppercase;
      outline: none;

      &:focus {
        background-color: var(--submit-bg-focus);
        border: 4px var(--submit-border-focus) solid;
        color: var(--submit-text-focus);
        cursor: pointer;
      }
    }
  }

}
