@use 'utils/main' as *;

.hopkins-hurdle {
  .guess {
    button {
      background-color: transparent;
      border: 4px $light_gray solid;
      color: $gray;
      font-size: 20px;
      height: 40px;
      margin: 2px;
      text-align: center;
      text-transform: uppercase;
      outline: none;

      &:focus {
        border: 4px $black solid;
        color: $black;
        cursor: pointer;
      }
    }
  }

}
